/*
Name: Abapblog
Description: ABAP Blog Theme
Version: 1.0
Author: Sidorochkin Mikhail
URL: https://abap-blog.ru
*/
.crayon-theme-abapblog {
	border-width: 1px !important;
	border-color: #c3c3c3 !important;
	border-style: solid !important;
	text-shadow: none !important;
	background: #fdfdfd !important;
}
.crayon-theme-abapblog-inline {
	border-width: 1px !important;
	border-color: #ddd !important;
	border-style: solid !important;
	background: #fafafa !important;
}
.crayon-theme-abapblog .crayon-table .crayon-nums {
	background: #c3c3c3 !important;
	color: #ffffff !important;
}
.crayon-theme-abapblog *::selection {
	background: transparent !important;
}
.crayon-theme-abapblog .crayon-code *::selection {
	background: #ddeeff !important;
	color: #316ba5 !important;
}
.crayon-theme-abapblog .crayon-striped-line {
	background: #f7f7f7 !important;
}
.crayon-theme-abapblog .crayon-striped-num {
	background: #dbdbdb !important;
	color: #000000 !important;
}
.crayon-theme-abapblog .crayon-marked-line {
	background: #fffee2 !important;
	border-width: 1px !important;
	border-color: #e9e579 !important;
}
.crayon-theme-abapblog .crayon-marked-num {
	color: #ffffff !important;
	background: #a0a0a0 !important;
	border-width: 1px !important;
	border-color: #5999d9 !important;
}
.crayon-theme-abapblog .crayon-marked-line.crayon-striped-line {
	background: #faf8d1 !important;
}
.crayon-theme-abapblog .crayon-marked-num.crayon-striped-num {
	background: #3c3c3c !important;
	color: #ffffff !important;
}
.crayon-theme-abapblog .crayon-marked-line.crayon-top {
	border-top-style: solid !important;
}
.crayon-theme-abapblog .crayon-marked-num.crayon-top {
	border-top-style: solid !important;
}
.crayon-theme-abapblog .crayon-marked-line.crayon-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-abapblog .crayon-marked-num.crayon-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-abapblog .crayon-info {
	background: #faf9d7 !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #b1af5e !important;
	border-bottom-style: solid !important;
	color: #7e7d34 !important;
}
.crayon-theme-abapblog .crayon-toolbar {
	background: #e7e5e5 !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #d5d5d5 !important;
	border-bottom-style: solid !important;
}
.crayon-theme-abapblog .crayon-toolbar > div {
	float: left !important;
}
.crayon-theme-abapblog .crayon-toolbar .crayon-tools {
	float: right !important;
}
.crayon-theme-abapblog .crayon-title {
	color: #050505 !important;
}
.crayon-theme-abapblog .crayon-language {
	color: #999 !important;
}
.crayon-theme-abapblog .crayon-button {
	background-color: #5a89bf !important;
}
.crayon-theme-abapblog .crayon-button:hover {
	background-color: #4fc2ff !important;
	color: #666;
}
.crayon-theme-abapblog .crayon-button.crayon-pressed:hover {
	background-color: #4fc2ff !important;
	color: #666;
}
.crayon-theme-abapblog .crayon-button.crayon-pressed {
	background-color: #8e4c4c !important;
	color: #FFF;
}
.crayon-theme-abapblog .crayon-button.crayon-pressed:active {
	background-color: #6b95ca !important;
	color: #FFF;
}
.crayon-theme-abapblog .crayon-button:active {
	background-color: #6b95ca !important;
	color: #FFF;
}
.crayon-theme-abapblog .crayon-pre .crayon-c {
	color: #ff8000 !important;
}
.crayon-theme-abapblog .crayon-pre .crayon-s {
	color: #008000 !important;
}
.crayon-theme-abapblog .crayon-pre .crayon-p {
	color: #b85c00 !important;
}
.crayon-theme-abapblog .crayon-pre .crayon-ta {
	color: #FF0000 !important;
}
.crayon-theme-abapblog .crayon-pre .crayon-k {
	color: #800080 !important;
}
.crayon-theme-abapblog .crayon-pre .crayon-st {
	color: #800080 !important;
}
.crayon-theme-abapblog .crayon-pre .crayon-r {
	color: #800080 !important;
}
.crayon-theme-abapblog .crayon-pre .crayon-t {
	color: #800080 !important;
}
.crayon-theme-abapblog .crayon-pre .crayon-m {
	color: #800080 !important;
}
.crayon-theme-abapblog .crayon-pre .crayon-i {
	color: #000 !important;
}
.crayon-theme-abapblog .crayon-pre .crayon-e {
	color: #004ed0 !important;
}
.crayon-theme-abapblog .crayon-pre .crayon-v {
	color: #002D7A !important;
}
.crayon-theme-abapblog .crayon-pre .crayon-cn {
	color: #ce0000 !important;
}
.crayon-theme-abapblog .crayon-pre .crayon-o {
	color: #006fe0 !important;
}
.crayon-theme-abapblog .crayon-pre .crayon-sy {
	color: #333 !important;
}
.crayon-theme-abapblog .crayon-pre .crayon-n {
	color: #666 !important;
	font-style: italic !important;
}
.crayon-theme-abapblog .crayon-pre .crayon-f {
	color: #999 !important;
}
.crayon-theme-abapblog .crayon-pre .crayon-h {
	color: #006fe0 !important;
}
